body
{
	background: url(img/fond-site.jpg) no-repeat;
}	

h1
{
	font-family: "Diablo";
	text-align: center;
}


h2
{
	background-color: lightgray;
	text-align: center;
	border-radius: 10px;
	box-shadow: 5px 5px 6px gray;
}

h3
{
	text-align: justify;
	display: inline;
}

section#ep, #etude, #cp, #stage, #loisir
{
	font-family: georgia;
	padding: 2px;
}

p
{
	font-family: "Diablo";
}

img
{
	display: block;
}

@font-face
{
	font-family: "Diablo";
	src: url('font/diablo_h.ttf');
}

#navigateur
{
	text-align: center;
	border-radius: 8px;
	margin-top: 15px;
}

a#bouton
{
	display: inline-block;
	width:150px;
	line-height:50px;
	/*background-color: black;*/
	text-align: center;
	color: white;
	text-decoration: none;
	margin: 2px;
	top: 5px;
	border-radius: 10px;
	box-shadow: 5px 5px 6px gray;
	background: url(img/boutonnoir.png) no-repeat;
}

a:hover
{
	background: url(img/boutonnoir2.png) no-repeat;
}

#entete
{
	position: relative;
	top: 10px;
}

#titre
{
	position: relative;
	top: 10px;
}

#main_text
{
	position: relative;
	left: 25%;
	top: 10px;
	width: 50%;
	border: none;
}