html
{
	height:100%;
}

body
{
	height: 100%;
	position: relative;
	background: url(img/fond-site.jpg) no-repeat;
}

h1
{
	font-family: "Diablo";
	color: #8B0000;
}

li
{
	list-style-type: none;
}

/*différentes polices */
@font-face
{
	font-family: "Diablo";
	src: url('font/diablo_h.ttf');
}

@font-face
{
	font-family: "Merienda";
	src: url('font/Merienda/Merienda-Regular.ttf');
}

/* Footer */
footer
{
	bottom: 0;
	background-color: #808259;
	height: 100px;
	position: relative;
	display: block;
}

/* NAvigateur */


#nav
{
	margin: auto;
	padding: 0;
	background: #808259 url(img/font2.jpg) 0 0 repeat-x;
	float: left;
	width: 100%;
	border: 1px solid #42432d;
	border-width: 1px 0;
}

#nav li
{
	display: inline;
	padding: 0;
	margin: 0;
}

#nav a:link, #nav a:visited
{
	color: #000;
	background: #b2b580;
	padding: 20px 40px 4px 10px;
	float: left;
	width: auto;
	border-right: 1px solid #42432d;
	text-decoration: none;
	font: bold 1em/1em Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px #555;
}

#nav li:first-child a
{
	border-left: 1px solid #42432d;
}

#nav a:hover
{
	color: #fff;
	background: #727454;
}

#home #nav_accueil a, #about #nav_moi a, #cursus #nav_cursus a, #lab #nav_exp_pro a, 
#reviews #nav_competences a, #contact #nav_stages a 
{
  background:#e35a00;
  color:#fff;
  text-shadow:none;
}
 
#home #nav_accueil a:hover, #about #nav_moi a:hover, #archive #nav_cursus a:hover, 
#lab #nav_exp_pro a:hover, #reviews #nav_competences a:hover, #contact #nav_stages a:hover 
{
  background:#e35a00;
}
 
#nav a:active 
{
   background:#e35a00;
   color:#fff;
}

#global
{
	min-height: 100%;
	position: relative;
}

#mp_index
{

}
/* Corps */
#cv li
{
	list-style-type: none;
}

#cv ul
{
	padding-left: 0px;
}

.moi
{
	text-align: justify; 
}

.main_text
{
	font-family: "Diablo";
	position: relative;
	text-align: center;
	margin-top: 170px;
	left: 25%;
	width: 50%

}